@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// 100 Thin or with Italic
// 200 ExtraLight or with Italic
// 300 Light or with Italic
// 400 Regular or with Italic
// 500 Medium or with Italic
// 600 SemiBold or with Italic
// 700 Bold or with Italic
// 800 ExtraBold or with Italic
// 900 Black or with Italic

// @font-face {
//     font-family: 'Raleway 400';
//     src: url('../assets/fonts/Raleway-Regular.ttf');
// }

$base-font-family: 'Poppins', 'sans-serif';
$base-line-height: 1.36;

$title-font-family: 'Poppins', 'sans-serif';
$title-line-height: 1.27;

$highlight-font-family: 'Poppins', 'sans-serif';
$highlight-line-height: 1.15;


// $raleway-400: 'Raleway 400';