<!-- <div class="auth-layout-container">
    <div class="auth-layout-wrapper">
        <router-outlet></router-outlet>
    </div>
</div> -->

<!-- <div class="min-vh-100 d-flex bg-light row">
    <div class="col-6">
        akjsdkjasdkaksdbk
    </div>
    <div class="col-6 m-auto bg-black h-100">
        <router-outlet></router-outlet>
    </div>
</div> -->

<div class="container-fluid">
    <div class="min-vh-100 p-3 d-flex">
        <!-- Right column (Login form or router outlet) -->
        <div class="w-100 my-auto">
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- <div class="row min-vh-100">
        < !-- Left column (Poster or static content) -- >
        <div class="col-md-6 p-3">
        </div>

        < !-- Right column (Login form or router outlet) -- >
        <div class="col-md-6 p-3 d-flex">
            <div class="w-100 my-auto">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div> -->
</div>


<!-- for toast messages -->
<app-toaster></app-toaster>