<div class="row py-2 bg-white shadow-lg">
    <div class="col col-md-3 d-flex align-items-center gap-4">
        <span>
            <strong>Support:</strong>&nbsp;
            <a href="tel:+91 9327668184" class="text-decoration-none">
                +91 9327668184
            </a>
        </span>
    </div>
    <div class="col d-flex align-items-center gap-4">
        <ng-content select="[dashboard-content]"></ng-content>
    </div>
    <div class="col col-md-3 d-flex align-items-center justify-content-end gap-4">
        <span>
            <strong>CID:</strong>
            {{customerId}}
        </span>
    </div>
</div>