.default-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.fs-normal {
    font-size: 0.75em;
}

// small {
//     font-size: 0.75em;
// }

.custom-table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 1 header col + 3 data cols */

    .cell {
        &.rounded-inherit-top-left {
            border-top-left-radius: inherit;
        }

        &.rounded-inherit-top-right {
            border-top-right-radius: inherit;
        }

        &.rounded-inherit-bottom-left {
            border-bottom-left-radius: inherit;
        }

        &.rounded-inherit-bottom-right {
            border-bottom-right-radius: inherit;
        }
    }
}

.box-content {
    overflow: hidden; // prevents spilling outside
    text-overflow: ellipsis;
    white-space: nowrap; // or remove this if you want text wrapping
    word-wrap: break-word;
}

@keyframes blinkBg {
    0% { background-color: #ffcccc; }
    50% { background-color: #f89595; } /* slightly darker red for the blink */
    100% { background-color: #ffcccc; }
}

.blink-bg {
    animation: blinkBg 1.5s infinite;
}
.table-bordered > :not(caption) > * > * {
  border-color: #6c757d !important; /* match Bootstrap's secondary border */
}
tr :first-child {
  border-left: none !important; /* remove left border from first cell */
}
tr :last-child {
  border-right: none !important; /* remove right border from last cell */
}
tr {
    border-top: none !important; /* remove top border from all rows */
    border-bottom: none !important; /* remove bottom border from all cells */
    border-top-width: 1px; /* add top border to all cells */
}